body {
background-color: #fff761;
font-family: tahoma;
}
header{
    text-align: center;
    background-image: url(../img/pattern.png);
    border-radius: 5px;
    padding: 5px;
}
.logo {
}
.header1 {
    display: inline-block;
    color: #ffb300;
}
.photos{
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
    width: inherit;
    background-color: #ffd343;
    border-radius: 65px;
}
.glavph{
    box-shadow: 0 3px 10px #000000a8;
    margin: 10px 10px;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: width .1s linear, height .1s linear;  
}
.glavph:hover{
    width: 110px;
    height: 110px;
}
.glavph1{
    box-shadow: 0 3px 10px #000000a8;
    margin: 10px 10px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
section{
    width: 80%;
    float: none;
    margin: 10px;
    padding: 10px;
    position: relative;
    background-color: #ffd343;
    display: inline-block;
    border-radius: 10px;
}
h3, h4{
    text-align: center;
    color: #333;
}
h2{
    text-align: center;
    color: #333;
}
footer{
    text-align: center;
    background-color: #ffd343;
    padding: 3px;
    border-radius: 10px;
}
.foot{
   display: inline-block;
}
aside{
    background-color: #ffd343;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.btn{
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;  
}
.btn:hover{
    background-color: #fff;
    color: #333;
}

.btns {
    margin: auto;
    width: 100vh;
}
table{
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}
th,td{
    border: 1px solid grey;
    padding: 5px;
}
.tdiv{
    padding: 50px;
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
    width: inherit;
    background-color: #ffd343;
    border-radius: 65px;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color .2s linear;/* как быстро цвет должен меняться*/
}
.nav-link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #333;
    position: absolute;
    top 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}
.nav-link:hover{/*при наводе меняется цвет текста*/
    color: #333;
    
}
.nav-link:hover:after{
    opacity: 1;
}
.forms{
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    outline: 3px solid #333;
    padding: 10px;
    border-radius: 5px;
    background-color:#ffd343;
}
.zav{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color:#ffd343;
}
.zav1{
    outline: 3px solid #333;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color:#ffd343;
}
.map{
    outline: 3px solid #333;
    display: inline-block;
    margin: 5px;
}
.forms1{
    vertical-align: top;
    margin: 10px;
    outline: 3px solid #333;
    padding: 10px;
    border-radius: 5px;
    background-color:#ffd343;
}
.au1{
    display: block;
}

